<!-- <app-child-comp nameGiven = "Anant" nameButton="Click Here"></app-child-comp> -->
<!-- <app-child-comp (data) = "handleData($event)"></app-child-comp>
<h1>{{str}}</h1> -->


<!-- <h1 [ngClass]="{classA:applyClass, classB:!applyClass}">NG CLASS</h1> -->
<!-- <button (click) = "shouldApply()">Change</button> -->

<!-- <h1 [ngStyle] = "{color:'red'}">Hello NgStyle</h1>


<h1 *ngIf="applyClass">If  Block</h1>
<h1 *ngIf="!applyClass">Else  Block</h1>



@if(applyClass){
    <h1>Condition is True.</h1>
}
@else{
    <h1>Condition is False.</h1>
}
<button (click) = "shouldApply()">Change</button>
 -->


 <!-- <ul>
    @for(item of arr; track item){
        <li>{{item}}</li>
    }@empty{
        <h1>nothing to display</h1>
    }
 </ul>

 <ol>
    <li *ngFor="let ele of arr">{{ele}}</li>
 </ol> -->

 <!-- <table border="1">
    <tr><th>Id</th>
    <th>Name</th>
    <th>Age</th>
</tr>
    @for(user of users; track user){
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
        </tr>
    }@empty{
        <tr>
            <td colspan="3">Nothing to Show</td>
        </tr>
    }
 </table> -->

 <!-- Ng Content -->
 <!-- <app-child-comp>
    <h1>123456789</h1>
    <h2>qwerty</h2>
</app-child-comp> -->

<!-- <app-child-comp></app-child-comp> -->
<!-- <h1>{{service.names}}</h1> -->

<h1>{{test.namesArr}}</h1>
<button (click) = "addName(`Raju`)">Click Me</button>